$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
 Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 //Colors
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;
$navy-blue: #141B25;
$beige: #DFE0DA;

html , body {
  font-family: $font;
  padding: 0;
  margin: 0;

}

.container {
  max-width: 100%;
  margin: 0 auto;

}

//Header 
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 20px;
  z-index: 10;

  .inner-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: $beige;
      .logo {
          a {
            font-size: 100px;
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 1.5px;
            color: $navy-blue;
          }
            .circle {
              font-size: 45px;
          }
      }
  }
}

//Form 
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $beige;
  width: 100%;
  position: absolute;
  top: 15%;
  right: 30px;
    .search_bar{
      width: 100%;
      padding: 10px;
      padding-left: 55px;
      display: block;
      font-size: 40px;
      outline: none;
      border: none;
      border-bottom: 1px solid #8E8C89;
      line-height: 0px;
      font-weight: 400;

      ::placeholder { /* Chrome */
        color: #8E8C89;
        opacity: 0.2; 
      }
      .search_bar input[type=text] {
        font-size: 40px;
        padding-right: 20px;
      }
  }
    .search_icon {
      color: #3B4454;
      font-size: 35px;
      position: absolute;
      top: 15px;

    }
}

.result-container {
  display: flex;
  top: 50px;
  margin: 20%;
  padding: 50px;
  position: absolute;
  .result-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
    .repo_items {
      border: 1px solid #C0C0C0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom:10px;
      box-shadow: 0 8px 6px -6px black;
      .info {
        display: flex;
        flex-direction: row;
        .box {
          display: flex;
          flex-direction: row;
          align-content: space-between;
        
            .link{
              text-decoration: none;
              font-size: 20px;
              color: $navy-blue;
            }
        }
      }

    }
}








// }
// .repo_list {
//   display: flex;
//   list-style: none;
//   margin: auto;
//   width: 50%;
//   display: block;
//   padding-top: 20px;
//   color:white;
// }
// .row_one_details {
//   display:flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding-bottom: 10px;
//   color:#575F72;
// }
// .repo_items {
//   display:flex;
//   flex-direction: column;
//   padding-bottom: 10px;
//   justify-content: space-between;
//   color:#84878D;
//   border-bottom: 1px solid #8E8C89;
//   padding-top: 10px;

// }
// .repo_items a p {display:none;}
// .repo_items a:hover p {
//   margin-left: 15px;
//   display:block;
// }

// .repo_name {
//   display:flex;
//   flex-direction: row;
//   justify-content: space-between;
//   text-decoration: none;
//   color: black;
//   color:#575F72;
//   font-size: 23px;

// }

// .repo_details {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding-bottom: 10px;
// }

// .repo_name:hover{
//   color:#1B212F; 
//   text-decoration:none; 
//   cursor:pointer;  
// }

// .searching {
//   display: flex;
//   margin: auto;
//   width: 52%;
//   display: block;
//   color:#84878D;
//   padding-top: 10px;
  
// }
// .star {
//   color: white;
//   margin-right: 3px;
// }