
* {
  margin:0;
  padding:0;
  font-family: 'Noto Sans';
  background-color: #DFE0DA;

}
.container {
  max-width: 100%;
}

.wrapper {
  margin: 50px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.github_getter {
  color: #141B25;
  font-size: 100px;
  padding: 10px;
  font-weight: 900;
  text-decoration: none;
}
.github_getter:hover{
  color:#3B4454; 
  text-decoration:none; 
  cursor:pointer;  
}

.circle {
  font-size:45px;
  color: #C42132;
}
.github_search_bar {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: block;
  font-size: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid #8E8C89;
  color: #3B4454;
  line-height: 0px;
}
::placeholder { /* Chrome */
  color:white;
  opacity: 0.2; 
}

.github_search_bar input[type=text] {
  font-size: 40px;
  padding-left: 10px;
  letter-spacing: 5px;
}

.search_icon {
  position: fixed;
  top: 30%;
  left: 69%;
  width: 14px;
  color:#3B4454;
  font-size:30px;
  font-weight:lighter;


}
.repo_list {
  display: flex;
  list-style: none;
  margin: auto;
  width: 50%;
  display: block;
  padding-top: 20px;
  color:white;
}
.row_one_details {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  color:#575F72;
}
.repo_items {
  display:flex;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: space-between;
  color:#84878D;
  border-bottom: 1px solid #8E8C89;
  padding-top: 10px;

}
.repo_items a p {display:none;}
.repo_items a:hover p {
  margin-left: 15px;
  display:block;
}

.repo_name {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  color:#575F72;
  font-size: 23px;

}

.repo_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.repo_name:hover{
  color:#1B212F; 
  text-decoration:none; 
  cursor:pointer;  
}

.searching {
  display: flex;
  margin: auto;
  width: 52%;
  display: block;
  color:#84878D;
  padding-top: 10px;
  
}
.star {
  color: white;
  margin-right: 3px;
}